{% extends 'base.html' %}

{% block content %}

<nav class="navbar mb-5" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item title m-0" href="">
            PyEvents
        </a>

    </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="{% url 'login_view' %}" class="button is-light">
                        Faça Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="columns is-centered is-vcentered">
    <div class="column is-half">
        <form class="box" method="POST" action="{% url 'register_view' %}">
            {% csrf_token %}
            <div class="field">
                <label class="label">Seu nome</label>
                <div class="control">
                    {{ form.username }}
                </div>
            </div>
            <div class="field">
                <label class="label">Seu email</label>
                <div class="control">
                    {{ form.email }}
                </div>
            </div>
            <div class="field">
                <label class="label">Sua senha</label>
                <div class="control">
                    {{ form.password }}
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Cadastrar</button>
                </div>
                <div class="control">
                    <a href="{% url 'list_events' %}" class="button is-danger">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}