{% load static %}


{% block navbar %}

<nav class="navbar mb-5" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item title m-0" href="{% url 'list_event_view' %}">
            PyEvents
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if request.user.is_authenticated %}
            <a href="{% url 'create_event_view' %}" class="navbar-item">
                Criar Evento
            </a>

            <a class="navbar-item">
                Meus Ingressos
            </a>

            <a class="navbar-item" href="{% url 'list_user_event_view' %}">
                Meus Eventos
            </a>

            <a href="{% url 'profile_view' %}" class="navbar-item">
                Meu Perfil
            </a>

            {% endif %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout_view' %}" class="button is-light">
                    Sair
                </a>
                {% else %}
                <div class="buttons">
                    <a href="{% url 'register_view' %}" class="button is-primary">
                        <strong>Cadastre-se</strong>
                    </a>
                    <a href="{% url 'login_view' %}" class="button is-light">
                        Faça Login
                    </a>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}