{% extends 'base.html' %} {% load static %} {% block content %} {% include 'navbar.html' %}

<div class="container mt-6">

    <nav class="level box">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Ingressos Comprados</p>
                <p class="title" id="amount-tickets-purshased">0</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Ingressos Vendidos</p>
                <p class="title" id="amount-tickets-sold">0</p>
            </div>
        </div>

        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Eventos Criados</p>
                <p class="title" id="amount-create-events">0</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Meus locais</p>
                <p class="title" id="amount_user_address">0</p>
            </div>
        </div>
    </nav>


    <div class="content">
        <h1>Informações Pessoais</h1>
        <div id="info-pessoais">
            <p>Nome: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>

        </div>
        <form method="POST" action="{% url 'profile_view' %}" id="user-form" class="is-hidden">
            {% csrf_token %}
            <div class="field">
                <label class="label">Seu nome</label>
                <div class="control">
                    {{ form.username }}
                </div>
            </div>
            <div class="field">
                <label class="label">Seu email</label>
                <div class="control">
                    {{ form.email }}
                </div>
            </div>

            <div class="control">
                <label class="radio"> Alterar senha?

                <input type="radio" id="yes-radio" name="answer" />
                Yes
                </label>
                <label class="radio">
                <input type="radio" id="no-radio" name="answer" />
                No
                </label>
            </div>

            <div class="field is-hidden" id="div-password">
                <label class="label">Nova senha</label>
                <div class="control">
                    {{ form.password }}
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Salvar</button>
                </div>
                <div class="control">
                    <a href="{% url 'profile_view' %}" class="button is-warning">Cancelar</a>
                </div>
            </div>
        </form>

        <button class="button is-warning" id="btn-editar">Editar</button>
        <h2>Minha conta</h2>
        <button class="button is-link">Meus Ingressos</button>
        <a href="{% url 'list_user_event_view' %}" class="button is-link">Meus Eventos</a>
        <a href="{% url 'list_address_view' %}" class="button is-link">Meus Locais</a>
    </div>

</div>

<script src="{% static 'users/js/profile.js' %}"></script>

{% endblock %}