{% extends 'base/_base.html' %} {% load static %} {% block content %} {% include 'base/navbar.html' %}
{% include 'base/messages.html' %}

<div class="div flex items-center flex-col justify-center p-2">
    <div class="max-w-md w-full div flex items-center justify-between">
        <h1 class="my-5 px-5 text-start tracking-tight text-gray-500 md:text-lg dark:text-gray-400">Informações Pessoais
        </h1>
        <button data-modal-target="crud-modal" data-modal-toggle="crud-modal"
            class="flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Editar</button>
    </div>
    <dl class="max-w-md w-full text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
        <div class="flex flex-col pb-3">
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Nome de Usuário</dt>
            <dd class="text-lg font-semibold">{{ user.username }}</dd>
        </div>
        <div class="flex flex-col py-3">
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Email</dt>
            <dd class="text-lg font-semibold">{{ user.email }}</dd>
        </div>
        <div class="flex flex-col pt-3">
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Cadastrado em</dt>
            <dd class="text-lg font-semibold">{{ user.date_joined|date:"d/m/Y" }}</dd>
        </div>
    </dl>
    <div class="max-w-md w-full mt-4 div flex items-center justify-between">
        <h1 class="my-5 px-5 text-start tracking-tight text-gray-500 md:text-lg dark:text-gray-400">Endereços</h1>
        <a href="{% url 'create_address_view' %}"
            class="flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Novo
            Endereço</a>
    </div>


    <div class="relative max-w-lg w-full overflow-x-auto sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption
                class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Seus Endereços
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400"></p>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Endereço
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nome
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Editar</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if adresses %}
                {% for address in adresses %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{address.road}} - {{address.number}}, {{address.ditrict}}, {{address.city}} - {{address.state}}
                    </th>
                    <td class="px-6 py-4 text-right">
                        {{address.name}}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <a href="{% url 'update_address_view' address.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4 text-right">
                        Você não tem nenhum endereço cadastrado.
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>



  <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                      Editar Informações Pessoais
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <form action="{% url 'update_user_view' %}" method="POST" class="p-4 md:p-5">{% csrf_token %}
                  <div class="grid gap-4 mb-4 grid-cols-2">
                      <div class="col-span-2">
                          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
                          {{form.username}}
                      </div>
                      <div class="col-span-2">
                          <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                          {{form.email}}
                      </div>
                  </div>
                  <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Atualizar
                  </button>
              </form>
          </div>
      </div>
  </div> 
  
{% endblock %}