{% extends 'base.html' %} {% load static %} {% block content %} {% include 'navbar.html' %}

<div class="container mt-6">
    <div class="buttons is-flex is-justify-content-flex-end	">
        <button class="button is-primary">Criar Novo Evento</button>
    </div>

    <table class="table m-auto">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ingressos totais</th>
                <th>Ingressos vendidos</th>
                <th>Local</th>
                <th>Data e hora</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% if events %} {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.max_tickets }}</td>
                <td>{{ event.tickets_sold }}</td>
                <td>{{ event.address.state }} - {{ event.address.city }} - {{ event.address.road }} {{ event.address.number }} - {{ event.address.district }}</td>
                <td>{{ event.date_event }}</td>
                {% if event.status %}
                <td>Ativo</td>
                {% else %}
                <td>Desativado</td>
                {% endif %}
                <td>
                    {% if event.status %}
                    <button class="button is-warning">Editar</button>
                    <button class="button is-danger">Desativar</button> {% else %}
                    <button class="button is-warning">Editar</button>
                    <button class="button is-danger" disabled>Desativar</button> {% endif %}
                </td>
            </tr>
            {% endfor %} {% endif %}
        </tbody>
    </table>

</div>


{% endblock %}